*.class
*.jar
.m2
/.cljs_rhino_repl
/.cpcache
/.nightlight.edn
/.nrepl-*
/.nyc_output
/TAGS
/node_modules
/out
/tags
/target
/public

# Shadow-cljs
.shadow-cljs/
/assets/js/main
/assets/js/cli.js
/assets/js/cli.js.map
/assets/js/workspaces
/assets/js/devcards

# CSS
/assets/css/main.css
/assets/css/main.css.map

# Cryogen
/resources/public

# IDE
.clj-kondo/
.idea/
.lsp/
.vscode/
zetawar.iml

# OS
.DS_Store
