{:paths ["assets" "src/clj" "src/cljc" "src/cljs"]
 :deps
 {;; Core dependencies
  com.cognitect/transit-cljs {:mvn/version "0.8.280"}
  datascript/datascript {:mvn/version "1.5.3"}
  integrant/integrant {:mvn/version "0.8.1"}
  org.clojure/clojurescript {:mvn/version "1.11.60"}
  org.clojure/core.async {:mvn/version "1.6.673"}
  org.clojure/tools.cli {:mvn/version "1.0.219"}
  posh/posh {:mvn/version "0.5.5"}
  reagent/reagent {:mvn/version "1.2.0"}
  
  ;; Site generation
  cryogen-core/cryogen-core {:mvn/version "0.4.1"}
  hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
  
  ;; Other dependencies
  tongue/tongue {:mvn/version "0.4.4"}}

 :aliases
 {:antq
  {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
   :main-opts ["-m" "antq.core"]}
  
  :dev
  {:extra-paths ["test/cljs"]
   :extra-deps
   {thheller/shadow-cljs {:mvn/version "2.25.2"}
    binaryage/devtools {:mvn/version "1.0.6"}
    nubank/workspaces {:mvn/version "1.1.1"}}}
  
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
   :ns-default build}
  
  :test
  {:extra-paths ["test/cljs"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.1"}
    com.gfredericks/test.chuck {:mvn/version "0.2.13"}}}
  
  :run-tests
  {:main-opts ["-m" "shadow.cljs.devtools.cli" "compile" "test"]}
  
  :serve
  {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "app"]}}}
